html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgba(12, 174, 58, 0.178);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgba(12, 174, 58, 0.178);
    flex: 1; /* Добавим, чтобы статьи равномерно растягивались */
}

.all {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Добавляем отступы между блоками для лучшего восприятия */
}

.top {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Промежуток между статьями */
}

.bottom {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.bottom-right {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Контейнер растягивается по высоте */
    gap: 10px;
}

.bottom-left-top,
.bottom-left-bottom {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Отступы между статьями */
    flex: 1; /* Блоки занимают равное пространство внутри .bottom-left */
}
